{#
EVPN Leaf Device Configuration Template
This template configures EVPN VXLAN for leaf devices
Includes BGP EVPN, VXLAN, and access port configuration
#}

{# Enable required features #}
feature bgp
feature nv overlay
feature vn-segment-vlan-based
feature interface-vlan
feature hsrp
feature lacp
feature vpc
feature nxapi
feature bash-shell
feature scp-server

{# VXLAN Global Configuration #}
fabric forwarding anycast-gateway-mac 0001.0001.0001
ip pim rp-address {{ device.loopback0 }} group-list 224.0.0.0/4

{# Loopback Interfaces #}
interface loopback0
  description "Router ID and VTEP Source"
  ip address {{ device.loopback0 }}/32
  ip pim sparse-mode

{# NVE Interface Configuration #}
interface nve1
  no shutdown
  description "VXLAN Tunnel Interface"
  host-reachability protocol bgp
  source-interface loopback0
{% for vrf in site.vrfs %}
  member vni {{ vrf.vni }}
    associate-vrf
{% endfor %}
{% for vlan in site.vlans %}
  member vni {{ vlan.vni }}
    suppress-arp
    ingress-replication protocol bgp
{% endfor %}

{# VRF Configuration #}
{% for vrf in site.vrfs %}
vrf context {{ vrf.vrf_name }}
  vni {{ vrf.vni }}
  rd {{ device.asn }}:{{ vrf.vni }}
{% for rt in vrf.rt_import %}
  address-family ipv4 unicast
    route-target import {{ rt }}
{% endfor %}
{% for rt in vrf.rt_export %}
    route-target export {{ rt }}
{% endfor %}

{% endfor %}

{# VLAN Configuration #}
{% for vlan in site.vlans %}
vlan {{ vlan.vlan_id }}
  name {{ vlan.vlan_name }}
  vn-segment {{ vlan.vni }}

interface Vlan{{ vlan.vlan_id }}
  description "{{ vlan.vlan_name }} Gateway"
  no shutdown
  vrf member {{ vlan.vrf }}
  ip address {{ vlan.gateway }}/{{ vlan.subnet.split('/')[1] }}
  fabric forwarding mode anycast-gateway
  
{% endfor %}

{# BGP Configuration #}
router bgp {{ device.asn }}
  router-id {{ device.loopback0 }}
  bestpath as-path multipath-relax
  bestpath compare-routerid
  
  {# IPv4 Unicast Address Family #}
  address-family ipv4 unicast
    redistribute direct route-map DIRECT
    maximum-paths 64
    maximum-paths ibgp 64
  
  {# L2VPN EVPN Address Family #}
  address-family l2vpn evpn
    maximum-paths 64
    maximum-paths ibgp 64

  {# BGP Neighbors (Spines) #}
{% for spine in site.devices.spines %}
  neighbor {{ spine.loopback0 }}
    remote-as {{ device.asn }}
    description "iBGP to {{ spine.hostname }}"
    update-source loopback0
    address-family ipv4 unicast
      send-community extended
    address-family l2vpn evpn
      send-community extended
{% endfor %}

  {# VRF Address Families #}
{% for vrf in site.vrfs %}
  vrf {{ vrf.vrf_name }}
    address-family ipv4 unicast
      advertise l2vpn evpn
      redistribute direct route-map DIRECT
{% endfor %}

{# Route Maps #}
route-map DIRECT permit 10
  match interface loopback0

{# EVPN Configuration #}
evpn
{% for vlan in site.vlans %}
  vni {{ vlan.vni }} l2
    rd {{ device.asn }}:{{ vlan.vni }}
    route-target import {{ device.asn }}:{{ vlan.vni }}
    route-target export {{ device.asn }}:{{ vlan.vni }}
{% endfor %}

{# Physical Interface Templates for Uplinks to Spines #}
{% for interface in leaf_uplinks | default([]) %}
interface {{ interface.name }}
  description "{{ interface.description }}"
  no switchport
  mtu 9216
  ip address {{ interface.ip }}/{{ interface.mask }}
  ip pim sparse-mode
  no shutdown
{% endfor %}

{# Access Port Templates #}
interface Ethernet1/1-24
  description "Access Port Template - Data VLAN"
  switchport mode access
  switchport access vlan {{ site.vlans[0].vlan_id }}
  spanning-tree port type edge
  spanning-tree bpduguard enable
  storm-control broadcast level 10.00
  storm-control multicast level 10.00

interface Ethernet1/25-48
  description "Access Port Template - Voice VLAN"
  switchport mode access
  switchport access vlan {{ site.vlans[1].vlan_id if site.vlans|length > 1 else site.vlans[0].vlan_id }}
  spanning-tree port type edge
  spanning-tree bpduguard enable

{# Trunk Port Templates for AP connectivity #}
interface Ethernet1/49-52
  description "Trunk Port Template - AP Connectivity"
  switchport mode trunk
  switchport trunk allowed vlan {{ site.vlans | map(attribute='vlan_id') | join(',') }}
  spanning-tree port type edge trunk
  spanning-tree bpduguard enable

{# Management and Monitoring #}
snmp-server community {{ global_settings.credentials.snmp_v2_read_credentials[0].community }} ro
logging server {{ site.network_settings.syslog_server[0].server_ip }}
ntp server {{ site.network_settings.ntp_server[0] }}

{# Multicast Configuration #}
ip pim ssm range 232.0.0.0/8

{# End of Leaf Template #}
  rd auto
  route-target import auto
  route-target export auto
{% endfor %}
{% for vrf in vrfs %}
 vni {{ 50000 + loop.index }} l3
  rd auto
  route-target import auto
  route-target export auto
{% endfor %}

{# VLAN Configuration #}
{% for vlan in vlans %}
vlan {{ vlan.id }}
 name {{ vlan.name }}
 vn-segment {{ 10000 + vlan.id }}
{% endfor %}

{# VRF Configuration #}
{% for vrf in vrfs %}
vrf context {{ vrf.name }}
 vni {{ 50000 + loop.index }}
 rd {{ vrf.rd }}
{% for rt in vrf.rt_import %}
 address-family ipv4 unicast
  route-target import {{ rt }}
{% endfor %}
{% for rt in vrf.rt_export %}
  route-target export {{ rt }}
{% endfor %}
 address-family ipv6 unicast
{% for rt in vrf.rt_import %}
  route-target import {{ rt }}
{% endfor %}
{% for rt in vrf.rt_export %}
  route-target export {{ rt }}
{% endfor %}
{% endfor %}

{# SVI Configuration with Anycast Gateway #}
{% for vlan in vlans %}
interface Vlan{{ vlan.id }}
 description {{ vlan.description }}
 no shutdown
 vrf member {{ vlan.vrf }}
 ip address {{ vlan.gateway }}/{{ vlan.subnet | ipaddr('prefix') }}
 fabric forwarding mode anycast-gateway
{% endfor %}

{# Fabric Forwarding Anycast Gateway MAC #}
fabric forwarding anycast-gateway-mac 0001.0001.0001

{# BGP Configuration for EVPN #}
router bgp {{ fabric.underlay.as_number }}
{% for vrf in vrfs %}
 vrf {{ vrf.name }}
  address-family ipv4 unicast
   advertise l2vpn evpn
   redistribute direct route-map fabric-rmap-redist-subnet
   maximum-paths ibgp 2
  address-family ipv6 unicast
   advertise l2vpn evpn
   redistribute direct route-map fabric-rmap-redist-subnet
   maximum-paths ibgp 2
{% endfor %}

{# Access Port Configuration #}
{% if device.interfaces.access_ports is defined %}
{% for access_port in device.interfaces.access_ports %}
interface {{ access_port.interface }}
 description {{ access_port.description }}
 switchport
 switchport mode access
 switchport access vlan {{ access_port.vlan }}
 spanning-tree port type edge
 no shutdown
{% endfor %}
{% endif %}

{# Route Maps #}
route-map fabric-rmap-redist-subnet permit 10
 match tag 12345

{# Prefix Lists #}
{% for vlan in vlans %}
ip prefix-list fabric-prefix-list-{{ vlan.name }} seq 10 permit {{ vlan.subnet }}
{% endfor %}
