{#
EVPN Spine Device Configuration Template
This template configures EVPN VXLAN for spine devices
Includes BGP EVPN route reflection and underlay routing
#}

{# Enable required features #}
feature bgp
feature pim
feature interface-vlan
feature hsrp
feature lacp
feature nxapi
feature bash-shell
feature scp-server

{# Global BGP and PIM Configuration #}
ip pim rp-address {{ device.loopback0 }} group-list 224.0.0.0/4
ip pim anycast-rp {{ device.loopbook0 }} {{ device.loopback0 }}

{# Loopback Interface Configuration #}
interface loopback0
  description "Router ID and BGP Route Reflector"
  ip address {{ device.loopback0 }}/32
  ip pim sparse-mode

{# BGP Configuration for Spine (Route Reflector) #}
router bgp {{ device.asn }}
  router-id {{ device.loopback0 }}
  bestpath as-path multipath-relax
  bestpath compare-routerid
  
  {# IPv4 Unicast Address Family #}
  address-family ipv4 unicast
    redistribute direct route-map DIRECT
    maximum-paths 64
    maximum-paths ibgp 64
  
  {# L2VPN EVPN Address Family - Route Reflector #}
  address-family l2vpn evpn
    retain route-target all
    maximum-paths 64
    maximum-paths ibgp 64

  {# BGP Neighbors - Leafs and Borders #}
{% for leaf in site.devices.leafs %}
  neighbor {{ leaf.loopback0 }}
    remote-as {{ device.asn }}
    description "iBGP to {{ leaf.hostname }}"
    update-source loopback0
    address-family ipv4 unicast
      send-community extended
      route-reflector-client
    address-family l2vpn evpn
      send-community extended
      route-reflector-client
{% endfor %}

{% for border in site.devices.borders %}
  neighbor {{ border.loopback0 }}
    remote-as {{ device.asn }}
    description "iBGP to {{ border.hostname }}"
    update-source loopback0
    address-family ipv4 unicast
      send-community extended
      route-reflector-client
    address-family l2vpn evpn
      send-community extended
      route-reflector-client
{% endfor %}

  {# eBGP Neighbors to other spines in different sites #}
{% if inter_site_spine_peers is defined %}
{% for peer in inter_site_spine_peers %}
  neighbor {{ peer.ip }}
    remote-as {{ peer.asn }}
    description "eBGP to {{ peer.description }}"
    address-family ipv4 unicast
      send-community extended
    address-family l2vpn evpn
      send-community extended
{% endfor %}
{% endif %}

{# Route Maps #}
route-map DIRECT permit 10
  match interface loopback0

{# Physical Interface Templates for Spine-Leaf connectivity #}
{% for interface in spine_interfaces | default([]) %}
interface {{ interface.name }}
  description "{{ interface.description }}"
  no switchport
  mtu 9216
  ip address {{ interface.ip }}/{{ interface.mask }}
  ip pim sparse-mode
  no shutdown
{% endfor %}

{# OSPF Configuration for Underlay (if using OSPF instead of ISIS) #}
{% if underlay_protocol == 'ospf' %}
feature ospf
router ospf UNDERLAY
  router-id {{ device.loopback0 }}
  area 0.0.0.0
    interface loopback0
{% for interface in spine_interfaces | default([]) %}
    interface {{ interface.name }}
      network point-to-point
{% endfor %}
{% endif %}

{# ISIS Configuration for Underlay (default) #}
{% if underlay_protocol != 'ospf' %}
feature isis
router isis UNDERLAY
  net 49.0001.{{ device.loopback0.split('.')[-2] }}.{{ device.loopback0.split('.')[-1] }}.00
  is-type level-2
  
interface loopback0
  ip router isis UNDERLAY

{% for interface in spine_interfaces | default([]) %}
interface {{ interface.name }}
  ip router isis UNDERLAY
  isis network point-to-point
  isis metric 10
{% endfor %}
{% endif %}

{# Multicast Configuration #}
ip pim ssm range 232.0.0.0/8

{# Management and Monitoring #}
snmp-server community {{ global_settings.credentials.snmp_v2_read_credentials[0].community }} ro
logging server {{ site.network_settings.syslog_server[0].server_ip }}
ntp server {{ site.network_settings.ntp_server[0] }}

{# End of Spine Template #}
