{% set DEFN_NODE_ROLES =
  {
  'SPINE':  ['TB16-Spine.solutionsanity.com',
             'TB16-SJ-Border-3.solutionsanity.com'],
  'RR':     ['TB16-Spine.solutionsanity.com',
             'TB16-SJ-Border-3.solutionsanity.com'],
  'CLIENT': ['TB16-SJ-Leaf-1.solutionsanity.com',
             'TB16-SJ-Leaf-2.solutionsanity.com',
             'TB16-SJ-Leaf-3.solutionsanity.com',
             'TB16-SJ-BORDER-1.solutionsanity.com',
             'TB16-SJ-BORDER-2.solutionsanity.com'],
  'BORDER': ['TB16-SJ-BORDER-1.solutionsanity.com',
             'TB16-SJ-BORDER-2.solutionsanity.com']
  }
%}

{# End of File #}
