{% set FABRIC_RP_ADDR  = '204.192.3.41' %}
{% set FABRIC_RP_SCOPES = ['239.190.0.0 0.0.255.255'] %}

{% set ENTERPRISE_RP_ADDR  = '204.192.3.40' %}
{% set ENTERPRISE_RP_SCOPES = ['238.190.0.0 0.0.255.255'] %}

{# End of File #}
